<div class = "row">
    <table class = "table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th> Name</th>
                <th> Department </th>
                <th> Email</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let employee of employees" >
                <td></td>
                <td>{{employee.EmployeeName}}</td>
                <td>{{employee.Department}}</td>
                <td>{{employee.Email}}</td>
                <td>
                    <button (click) = "updateEmployee(employee.EmployeeId)" class = "btn btn-primary"> Update</button>
                    <button (click) = "deleteEmployee(employee.EmployeeId)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                    <button (click) = "employeeDetails(employee.EmployeeId)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
